.header-container {
  background-color: black;
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  padding: 8px;
}

.marvel-logo {
  margin-left: 16px;
}

.favorites-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}

.heart-icon {
  margin-right: 8px;
}

.fav-text {
  color: white;
}
